@use "../../styles/partials/variables" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/mixins" as *;

.book {
  &-detail {
    @include white-bg;
    margin-top: 7rem;
    margin-bottom: 1.5rem;
    width: 80vw;

    &__container {
      padding: 1rem;
      display: flex;
      flex-direction: column;
      gap: 2rem;
      position: relative;

      @include tablet {
        align-items: flex-start;
        padding: 2rem;
      }
    }
  }

  &__image {
    width: 10rem;
    height: 14rem;
    object-fit: cover;
    border-right: 1px solid gray;
    border-bottom: 1px solid gray;
    position: absolute;
    z-index: 1;

    &-bg {
      background-color: gray;
      width: 10rem;
      height: 14rem;
      position: relative;
      top: 0.5rem;
      right: -0.5rem;
    }
  }

  &__top {
    @include column;
    gap: 3rem;

    @include tablet {
      flex-direction: row;
    }
  }

  &__bottom {
    display: flex;
    gap: 2rem;
    flex-direction: column;
    width: 100%;

    @include tablet {
      padding-bottom: 2rem;
    }
  }

  &__info {
    margin-left: 0rem;
    align-self: flex-start;

    @include tablet {
      margin-left: 2rem;
    }

    &-item {
      line-height: 2;
      font-size: 1.2rem;
    }

    &-title {
      font-size: 1.2rem;
      font-weight: 600;
      border-bottom: 2px solid lightgray;
      width: fit-content;
    }
  }

  &__review {
    margin: 0.5rem 0;
  }

  &__textarea {
    width: 100%;
    min-width: 10rem;
    height: 10rem;
    padding: 0.5rem;
    margin-top: 0.5rem;
    font-size: 1rem;
    line-height: 1.5;
    resize: none;
    font-family: inherit;
    border-radius: 4px;
    color: inherit;
    border: none;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);

    @include tablet {
      min-width: 30rem;
    }

    &:focus {
      outline: none;
    }
  }

  &__quotes-section {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
}

.button-group {
  margin: 0rem auto;

  @include tablet {
    position: absolute;
    right: 5px;
    bottom: 5px;
  }
}

.go-back-button {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1.2rem;
  font-weight: 600;
  color: $color-green;
  width: fit-content;

  &:hover {
    color: gray;
  }
}
