// Colors
$color-green: #33413c;
$color-beige: #fadfc6;
$color-darkGray: #5D5D5D;

// Media queries
$breakpoint-tablet: 48rem; //768px
$breakpoint-desktop: 80rem; //1280px

// Shadow
$box-shadow: 0 3px 10px rgb(0, 0, 0, 0.5);
$text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
