@use "../../styles/partials/variables" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/mixins" as *;

.result {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid lightgray;
  position: relative;

  &__title {
    max-width: 90%;
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  &__description {
    line-height: 1.5;
  }
}

.plus-icon {
  position: absolute;
  top: 0;
  right: 5px;
  cursor: pointer;
}
