@use "../../styles/partials/variables" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/mixins" as *;

.nav {
  @include column;
  align-items: flex-start;
  gap: 2rem;
  background-color: $color-green;
  position: fixed;
  top: 0;
  left: 0;
  width: 75vw;
  height: 100vh;
  opacity: 0.9;
  padding: 1rem;
  transition: all 0.4s ease;

  &__item {
    font-size: 3rem;
    font-weight: bold;
    color: white;
    letter-spacing: 1px;
  }
}
