@use "../../styles/partials/variables" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/mixins" as *;

.home {
  margin-top: 5rem;
  width: 100%;
  
  @include tablet {
    display: flex;
  }
}

.hero {
  @include section-padding;
  @include bg-overlay("../../assets/images/hero.jpeg");
  background-size: cover;
  height: calc(100vh - 5rem);
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  @include tablet {
    align-items: flex-start;
    width: 75vw;
  }

  &__text {
    text-shadow: $text-shadow;
    color: white;
    margin-bottom: 3rem;
    font-family: "Cormorant Garamond", serif;
    font-size: 2.2rem;
    text-transform: capitalize;
    line-height: 1.5;

    @include tablet {
      font-size: 2.8rem;
      text-align: start;
    }

    @include desktop {
      font-size: 3rem;
      text-align: start;
    }
  }
}
