@use "../../styles/partials/variables" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/mixins" as *;

.book {
  &__container {
    @include column;
    justify-content: flex-start;
    gap: 0.3rem;
  }

  &__book {
    width: 8rem;
    height: 11.5rem;
    object-fit: cover;
    box-shadow: $box-shadow;
    cursor: pointer;

    &:hover {
      opacity: 0.8;
    }
  }
}
